.App {
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cardd {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 5px solid red;
  color: aliceblue;
  align-items: center;
  cursor: grab;
  background: orange;
}
.group1,
.group2 {
  border: solid blueviolet 5px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
